<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via API in this part; I will use web-scraping to obtain financial data.\
Using beautiful soup we will extract historical share data from a web-page.

In [ ]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Using Webscraping to Extract Stock Data(Netflix)

First we must use the `request` library to downlaod the webpage, and extract the text. We will extract Netflix stock data <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html>.

In [7]:
import requests
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data  = requests.get(url).text

Next we must parse the text into html using `beautiful_soup`

In [8]:
soup = BeautifulSoup(data, 'html5lib')

Now we can turn the html table into a pandas dataframe

In [ ]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

We can now print out the dataframe

In [ ]:
netflix_data.head()

We can also use the pandas `read_html` function using the url

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
read_html_pandas_data = pd.read_html(url)
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Or we can convert the BeautifulSoup object to a string

In [10]:
read_html_pandas_data = pd.read_html(str(soup))
read_html_pandas_data

[                                                 Date  \
 0                                        Jun 01, 2021
 1                                        May 01, 2021
 2                                        Apr 01, 2021
 3                                        Mar 01, 2021
 4                                        Feb 01, 2021
 ..                                                ...
 66                                       Dec 01, 2015
 67                                       Nov 01, 2015
 68                                       Oct 01, 2015
 69                                       Sep 01, 2015
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  Open  \
 0                                              504.01
 1                                              512.65
 2                                              529.93
 3                                              545.57
 4                                              536.79
 ..                                                ...
 66                                             124.47
 67                                             109.20
 68                                             102.91
 69                                             109.35
 70  *Close price adjusted for splits.**Adjusted cl...

                                                  High  \
 0                                              536.13
 1                                              518.95
 2                                              563.56
 3                                              556.99
 4                                              566.65
 ..                                                ...
 66                                             133.27
 67                                             126.60
 68                                             115.83
 69                                             111.24
 70  *Close price adjusted for splits.**Adjusted cl...

                                                   Low  \
 0                                              482.14
 1                                              478.54
 2                                              499.00
 3                                              492.85
 4                                              518.28
 ..                                                ...
 66                                             113.85
 67                                             101.86
 68                                              96.26
 69                                              93.55
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Close*  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                           Adj Close**  \
 0                                              528.21
 1                                              502.81
 2                                              513.47
 3                                              521.66
 4                                              538.85
 ..                                                ...
 66                                             114.38
 67                                             123.33
 68                                             108.38
 69                                             103.26
 70  *Close price adjusted for splits.**Adjusted cl...

                                                Volume
 0                                            78560600
 1                                            66927600
 2                                           111573300
 3                                            90183900
 4                                            61902300
 ..                                                ...
 66                                          319939200
 67                                          320321800
 68                                          446204400
 69                                          497401200
 70  *Close price adjusted for splits.**Adjusted cl...

 [71 rows x 7 columns]]

Beacause there is only one table on the page, we just take the first table in the list returned

In [11]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300